* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* width: 100%; */
    background-color: rgb(252, 167, 167);
}

.section-padding{
    padding: 20px 200px;
    height: 100vh;
}
